.title {
    font-size: 48px;
    font-weight: bold;
    color: #293651;
    text-align: center;
    .btn {
    font-family: sans-serif;
    color: white;
    background-color: #00a78e;
    border-radius: 50px;
    padding: 20px 40px;
    text-decoration: none;
}
}

.subtitle1 {
    font-size: 26px;
    color: #00a78e;
    font-family: sans-serif;
    text-align: center;
}

.subtitle2 {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2pt;
    font-family: sans-serif;
    text-align: center;
}

.text{
    text-align: center;
    font-family: sans-serif;
    color: #76778c;
    font-size: 20px;
    letter-spacing: 1.2pt;
    line-height: 32px;
}

.btn {
    font-family: sans-serif;
    color: white;
    background-color: #00a78e;
    border-radius: 5px;
    padding: 20px 40px;
    text-decoration: none;
}