* {
    margin: 0;
    padding: 0;
}

.center{
    text-align: center;
    margin-bottom: -4px;
}

.parte1{
    margin-left: 80px;
    margin-top: 80px;
}
.parte2{
    background-color: #00a78e;
    padding: 80px 80px;
    color: #fff;
    
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #293651;
    .btn {
    font-family: sans-serif;
    color: white;
    background-color: #00a78e;
    border-radius: 50px;
    padding: 20px 40px;
    text-decoration: none;
}
}

.subtitle1 {
    font-size: 26px;
    color: #00a78e;
    font-family: sans-serif;
    letter-spacing: 2pt;
    padding-bottom: 20px;
}

.parte2 .subtitle1{
    color: #fff;
}

.parte2 .texto{
    letter-spacing: 1.2pt;
    margin-bottom: 26px;
}

.parte2 .projetos{
    list-style: none;
}

.subtitle2 {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2pt;
    font-family: sans-serif;
    padding-bottom: 15px;
}

.text{
    font-family: sans-serif;
    color: #76778c;
    font-size: 20px;
    letter-spacing: 1.2pt;
    line-height: 32px;
    margin-bottom: 40px;
}

.btn {
    font-family: sans-serif;
    color: white;
    background-color: #00a78e;
    border-radius: 5px;
    padding: 20px 40px;
    text-decoration: none;
}

.barra-progresso{
    height: 40px;
    width: 400px;
    accent-color: #00a78e;
}

.parte3{
    color: #00a78e;
    padding: 80px 80px;
}